$ColorCubeBlak: #252a2d;
$ColorCubePink: #d5625f;
$ColorCubeWhite: #fefefe;
$ColorCubeGreyHard: #6b6b6b;
$ColorCubeGrey: #aeafae;
$ColorCubeYellow: #d8bc29;
$MedianCutBlack: #252a2d;
$MedianCutPink: #c88a80;
$MedianCutGreyBrown: #70625b;
$MedianCutLightBlu: #899696;
$MedianCutStrongLightBlU: #7e8995;
$MaterialDesignPinkStrong: #d3615e;
$MaterialDesignGrey: #b4a394;
$MaterialDesignBrown: #632927;
$MaterialDesignBlack: #070809;
$MaterialDesignPink: #c2856c;
$TextColorSummary: #aaa9a9;


